<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.grabbit.app</string>
	<key>CFBundleName</key>
	<string>Grabbit</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.8</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Grabbit captures a region of your screen when you trigger a capture.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
</dict>
</plist>
